# ─────────────────────────────────────────
# Configuration de l'environnement de dev
# Copier ce fichier en .env et adapter
# ─────────────────────────────────────────

# PostgreSQL
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=datawarehouse

# dbt
DBT_PROJECT_NAME=my_project
DBT_SCHEMA=dbt_dev

# Metabase
METABASE_DB=metabase
# Clé de chiffrement Metabase (min. 32 caractères)
MB_ENCRYPTION_SECRET_KEY=changeme_secret_32chars_minimum!!

# Version de python pour dbt
PYTHON_VERSION=3.12